@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Papyrus';
    src: url('./assets/fonts/papyrus.ttf') format('truetype');
}

@font-face {
    font-family: 'Headline';
    src: url('./assets/fonts/headline.ttf') format('truetype');
}

.fonte-papyrus {
    font-family: 'Papyrus';
}

.fonte-headline {
    font-family: 'Headline'
}

* {
    min-width: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

.anomAnim {
    transition: transform 0.3s ease;
}

.animarCartaAnom {
    transform: rotateY(90deg)
}

.eliminarCartaAnim {

}

.eliminarCarta {
    opacity: 0;
}

.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.transicao-opacidade {
    transition: opacity 2s ease-in-out;
}

.transicao-opacidade-imagens {
    transition: opacity 4s ease-in-out;
}

.transicao-out {
    opacity: 0;
}

.transicao-in {
    opacity: 1;
}

.fundo-de-pergaminho {
    background-image: url('./assets/images/prototype/Intro/pergaminho3.png');
    background-repeat: no-repeat;
    background-size: 900px 300px;
    background-position: center;
    background-color: rgba(21, 172, 29, 0.479);
    background-blend-mode: multiply;

}

.background-menu {
    background-image: url('./assets/images/menu/deserto.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.411);
    background-blend-mode: multiply;
}

