@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Papyrus';
    src: url('./assets/fonts/papyrus.ttf') format('truetype');
}

@font-face {
    font-family: 'Headline';
    src: url('./assets/fonts/headline.ttf') format('truetype');
}

.fonte-papyrus {
    font-family: 'Papyrus';
}

.fonte-headline {
    font-family: 'Headline'
}

.fonte-hieroglifo {
    font-family: "Noto Sans Egyptian Hieroglyphs", sans-serif;
}

.contorno-de-texto {
    text-shadow: 
      2px 2px 0 black, /* Sombra no canto inferior direito */
      -2px 2px 0 black, /* Sombra no canto inferior esquerdo */
      2px -2px 0 black, /* Sombra no canto superior direito */
      -2px -2px 0 black; /* Sombra no canto superior esquerdo */
}

.contorno-de-texto-menor {
    text-shadow: 
      1px 1px 0 black, /* Sombra no canto inferior direito */
      -1px 1px 0 black, /* Sombra no canto inferior esquerdo */
      1px -1px 0 black, /* Sombra no canto superior direito */
      -1px -1px 0 black; /* Sombra no canto superior esquerdo */
}
  

* {
    min-width: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

.anomAnim {
    transition: transform 0.3s ease;
}

.animarCartaAnom {
    transform: rotateY(90deg)
}

.eliminarCartaAnim {

}

.eliminarCarta {
    opacity: 0;
}

.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.transicao-opacidade {
    transition: opacity 2s ease-in-out;
}

.transicao-opacidade-imagens {
    transition: opacity 4s ease-in-out, transform 20s ease-in-out;
}

.transicao-out {
    opacity: 0;
}

.transicao-in {
    opacity: 1;
}

.fundo-de-pergaminho {
    background-image: url('./assets/images/prototype/Intro/pergaminho3.png');
    background-repeat: no-repeat;
    background-size: 900px 300px;
    background-position: center;

}

.background-menu {
    background-image: url('./assets/images/menu/deserto.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.411);
    background-blend-mode: multiply;
}

.background-pulpito {
    background-image: url('./assets/images/gameplay/pulpito.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.background-descricoes {
    background-image: url('./assets/images/gameplay/descricao-bg.png');
    background-position: center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.mover-imagem1-pra-baixo {
    transform: translateY(300px);
}

.crescer-imagem-2 {
    transform:scale(1.2)


}
.mover-imagem3-pra-esquerda {
    transform: translateX(-600px);
}

.mapa-grid-fase1 {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b"
    "c d";
}

.mapa-grid-fase2 {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "a b c"
    "d e f";
}

.mapa-grid-fase3 {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "a b c"
    "d . e"
    "f g h";
}

.mapa-grid-fase4 {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "a b c d"
        "e f g h"
        ". i j .";
}

.mapa-grid-fase5 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
        "a b c d"
        "e f g h"
        "i j k l";
}

.mapa-grid-fase6 {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "a b c d e"
        "f g . h i"
        "j k l m n";
}

.mapa-grid-fase7 {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
      "a b . c d"
      "e f . g h"
      "i j . k l"
      "m n . o p";
}

.carta1 {
  grid-area: a;
}

.carta2 {
  grid-area: b;
}

.carta3 {
  grid-area: c;
}

.carta4 {
  grid-area: d;
}

.carta5 {
  grid-area: e;
}

.carta6 {
  grid-area: f;
}

.carta7 {
  grid-area: g;
}

.carta8 {
  grid-area: h;
}

.carta9 {
  grid-area: i;
}

.carta10 {
  grid-area: j;
}

.carta11 {
  grid-area: k;
}

.carta12 {
  grid-area: l;
}

.carta13 {
  grid-area: m;
}

.carta14 {
  grid-area: n;
}

.carta15 {
  grid-area: o;
}

.carta16 {
  grid-area: p;
}

.carta17 {
  grid-area: q;
}

.carta18 {
  grid-area: r;
}

.carta19 {
  grid-area: s;
}

.carta20 {
  grid-area: t;
}
