@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Papyrus';
    src: url('./assets/fonts/papyrus.ttf') format('truetype');
}

@font-face {
    font-family: 'Headline';
    src: url('./assets/fonts/headline.ttf') format('truetype');
}

.fonte-papyrus {
    font-family: 'Papyrus';
}

.fonte-headline {
    font-family: 'Headline'
}

.contorno-de-texto {
    text-shadow: 
      2px 2px 0 black, /* Sombra no canto inferior direito */
      -2px 2px 0 black, /* Sombra no canto inferior esquerdo */
      2px -2px 0 black, /* Sombra no canto superior direito */
      -2px -2px 0 black; /* Sombra no canto superior esquerdo */
}

.contorno-de-texto-menor {
    text-shadow: 
      1px 1px 0 black, /* Sombra no canto inferior direito */
      -1px 1px 0 black, /* Sombra no canto inferior esquerdo */
      1px -1px 0 black, /* Sombra no canto superior direito */
      -1px -1px 0 black; /* Sombra no canto superior esquerdo */
}
  

* {
    min-width: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

.anomAnim {
    transition: transform 0.3s ease;
}

.animarCartaAnom {
    transform: rotateY(90deg)
}

.eliminarCartaAnim {

}

.eliminarCarta {
    opacity: 0;
}

.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.transicao-opacidade {
    transition: opacity 2s ease-in-out;
}

.transicao-opacidade-imagens {
    transition: opacity 4s ease-in-out, transform 20s ease-in-out;
}

.transicao-out {
    opacity: 0;
}

.transicao-in {
    opacity: 1;
}

.fundo-de-pergaminho {
    background-image: url('./assets/images/prototype/Intro/pergaminho3.png');
    background-repeat: no-repeat;
    background-size: 900px 300px;
    background-position: center;

}

.background-menu {
    background-image: url('./assets/images/menu/deserto.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.411);
    background-blend-mode: multiply;
}

.background-pulpito {
    background-image: url('./assets/images/gameplay/pulpito.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.mover-imagem1-pra-baixo {
    transform: translateY(300px);
}

.crescer-imagem-2 {
    transform:scale(1.2)


}
.mover-imagem3-pra-esquerda {
    transform: translateX(-600px);
}
